body{
background-color:black;
display:block;
margin:15% 40% 0 40%;
}

#revert, #reverta{
  font-family:Arial, Helvetica;
  color:whitesmoke;
  font-size:2em;
}

form p{
  font-family:Arial, Helvetica;
  color:whitesmoke;
  font-size: 1em;
}

#borda{
  border-radius:10%;
  margin:0 0 0 100px;
}